*{
    margin: 0;
    padding: 0;
}
/* google fonts link here */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body{
    font-family: "Merriweather", serif;

}
.bannar{
    background-image: url(./images/Banner\ Image.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    width: 1100px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: overlay;

}
.bannar-content{
    color: white;
    text-align: center;
}
.bannar-content h4{
    font-size: 26px;
    line-height: 45px;
}
.bannar-content h2{
    font-size: 50px;
}
/* bannar section end */
/* category section start */
.category{
    width: 500px;
    padding: 89px;
    margin: auto;
    margin-top: 89px;
    text-align: center;
}
.category-inner{}
.category-inner h1{
    color: #FF0000;
    font-size: 50px;
    line-height: 2;
}
.category-inner h4{
    color: #FF0000;
    line-height: 2;
}
.category-inner h2{
    font-size: 30px;
    line-height: 2;
    
}
.category-inner img{
    width: 500px;
    margin-top: 44px;
}
/* category section end */
/* midnight section start */
.midnight{
    height: 400px;
    width: 1100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
    background-image: url(./images/Vectorrr.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: overlay;

}
.midnight-right img{
    height: 340px;
}
.midnight-left{
    color: white;

}
.midnight-left h1{
    font-size: 44px;
    line-height: 1;
    margin-bottom: 11px;
}
.midnight-left p{
    margin-bottom: 11px;
    font-size: 15px;
}
.midnight-left h5{
    background-color: #a29d9d;
    width: 55px;
    color: white;
    padding: 8px 10px;
}
/* midnight section end */
/* evening section start */
.evening{
    height: 400px;
    width: 1100px;
    margin: auto;
    margin-top: 89px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right, red, yellow);


}
.evening-inner span{
    color: #FF0000;
    line-height: 2;
}
.evening-inner h4{
    line-height: 2;
    font-size: 18px;
}
.buton{
    text-align: center;
    margin-top: 17px;
}
.buton button{
    border: none;
    background-color: #FF0000;
    color: white;
    padding: 12px 15px;
    text-transform: capitalize;
    

}
/* evenig section end */
/* cooming soon section start */
.comminng{
    height: 400px;
    width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 88px;
    

}
.comming-box{
    width: 340px;
}
.comming-box h5{
    color: #FF0000;
}
.comming-box h2{
    font-size: 33px;
    margin-top: 6px;
}
.comming-box p{
    margin-top: 5px;
}
.cooming-img img{
    width: 280px;
    border: 7px solid red;
    border-radius: 100%;
    padding: 10px;
}
.comming-right h3{
    color: #FF0000;
    margin-bottom: 10px;

}

.comming-right img{
    margin-top: 12px;
}
/* comming soon section end */
/* portfolio section start */

 
.portfolio{
  
    width: 1100px;
    margin: auto;
    margin-top: 100px;

}
.portfolio h5{
    color: #FF0000;
}
.portfolio h3{
    margin-top: 6px;
    font-size: 36px;

}
.portfolio-inner {
    margin-top: 20px;
}
.portfolio-box img{
    width: 300px;
}
.portfolio-inner{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    
}
/* portfolio section end */
/* subscribe section start */
.subscribe{
    
    width: 1100px;
    margin: auto;
    text-align: center;
    margin-top: 60px;
   background-color: rgba(251, 235, 5, 0.3);
   padding: 50px;

}
.inner-subscribe{
    width: 699px;
    margin: auto;
}
.inner-subscribe img{
    height: 100px;
}
.inner-subscribe h2{
    line-height: 2;
}
.inner-subscribe p{
    margin-bottom: 10px;
}

.inner-subscribe input{
    border: none;
    padding: 14px 59px;
    border-radius: 30px 0px 0px 30px;
}
.inner-subscribe button{
    border: none;
    padding: 14px 17px;
    background-color: #FF0000;
    color: white;
    margin-left: -6px;
    border-radius: 0px 30px 30px 0px;
}
/* subscribe section end */
/* footer section start */
.foter{
    background-color: black;
    color: white;


}
.inner{
    width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding: 50px;
    border-bottom: white;
    border-width: 3px;

}
.footer-mid{
    text-align: center;
    margin-right: 8px;
}
.footer-mid .fa-brands{
    margin-right: 8px;
    font-size: 20px;
    padding: 5px;
}
.footer-mid .fa-facebook{
    background-color:  #3b5998;
    border-radius: 100%;
    color: white;
}
.footer-bottom{
    width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding: 20px 0px;
}
.fotter-right p{
    margin-bottom: 10px;
}